---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "About Me",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">Computer Science & Cybersecurity</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Cybersecurity Analyst & Creative Developer w/ 2+ years of experience in cybersecurity,
			information security, IT operations, website development, and 7+ years of hardware
			troubleshooting. Skilled in implementing information security infrastructure and balancing
			security initiatives to external risks and business operations.
		</p>
		<ul class="list-inside list-disc" role="list">
			<li>Python</li>
			<li>Java & JavaScript</li>
			<li>C++ & C#</li>
			<li>SQL</li>
			<li>Docker</li>
			<li>HTML</li>
			<li>Cloudflare</li>
			<li>Cloudflare Zero Trust</li>
			<li>Vercel</li>
			<li>Squarespace</li>
			<li>WordPress</li>
			<li>NextDNS</li>
			<li>Swift</li>
			<li>Internet of Things (IoT)</li>
			<li>Enterprise Resource Planning (OpenERP, Zoho Books, QuickBooks, QNE Cloud)</li>
			<li>Network & Internet Troubleshooting</li>
			<li>Software & Hardware Troubleshooting</li>
		</ul>
	</div>
	<h1 class="title mb-6">Audio Engineering & Sound Design</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			3+ years of experience making music and sampling in FL Studio & SFXR, Basic knowledge using
			Ableton, and 2+ years of experience using Bosca Ceoil for chiptune music during Global Game
			jams (2019 & 2020)!
		</p>
		<ul class="list-inside list-disc" role="list">
			<li>FL Studio</li>
			<li>Ableton</li>
			<li>SFXR</li>
			<li>Bosca Ceoil</li>
		</ul>
	</div>
</PageLayout>
